node-red/dashboards/LoRa AM319 Dashboard/AM319.json
[{"id":"d2b8a0b551742ad5","type":"tab","label":"AM319","disabled":false,"info":"","env":[]},{"id":"f3de892cd70f2405","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvo10PM","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvo10PM\",\"type\":\"9000010a5a000000-4/UNVT_Particulate\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvo10PM\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvo10PM\",\"datapointName\":\"nvo10PM\",\"datapointType\":\"9000010a5a000000-4/UNVT_Particulate\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvo10PM/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":11,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":100,"y":100,"wires":[["da5c8d97385b0759"]]},{"id":"0eb8a55bacdd90f1","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvo2_5PM","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvo2_5PM\",\"type\":\"9000010a5a000000-4/UNVT_Particulate\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvo2_5PM\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvo2_5PM\",\"datapointName\":\"nvo2_5PM\",\"datapointType\":\"9000010a5a000000-4/UNVT_Particulate\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvo2_5PM/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":11,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":100,"y":220,"wires":[["7cc32af66c7a6de7"]]},{"id":"9fa04943e3f2502a","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvoCO2ppm","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvoCO2ppm\",\"type\":\"SNVT_ppm_f\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvoCO2ppm\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvoCO2ppm\",\"datapointName\":\"nvoCO2ppm\",\"datapointType\":\"SNVT_ppm_f\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvoCO2ppm/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":89,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":110,"y":1140,"wires":[["fbb14c11d59611a9"]]},{"id":"a8acbf0d8ecc200a","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvoHCHO","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvoHCHO\",\"type\":\"9000010a5a000000-4/UNVT_HCHO\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvoHCHO\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvoHCHO\",\"datapointName\":\"nvoHCHO\",\"datapointType\":\"9000010a5a000000-4/UNVT_HCHO\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvoHCHO/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":10,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":100,"y":340,"wires":[["025d99447cb1a199"]]},{"id":"c85fe308a75a8f6c","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvoHumidity","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvoHumidity\",\"type\":\"SNVT_lev_cont_f\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvoHumidity\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvoHumidity\",\"datapointName\":\"nvoHumidity\",\"datapointType\":\"SNVT_lev_cont_f\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvoHumidity/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":78,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":110,"y":1020,"wires":[["a258f5f5c3d26850"]]},{"id":"c4519950e3cdcc55","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvoOcc","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvoOcc\",\"type\":\"SNVT_count\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvoOcc\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvoOcc\",\"datapointName\":\"nvoOcc\",\"datapointType\":\"SNVT_count\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvoOcc/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":62,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":90,"y":620,"wires":[["cd5b310ed06e6277"]]},{"id":"6c4cf9af8b2dea5c","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvoPressure","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvoPressure\",\"type\":\"SNVT_press_f\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvoPressure\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvoPressure\",\"datapointName\":\"nvoPressure\",\"datapointType\":\"SNVT_press_f\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvoPressure/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":90,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":110,"y":900,"wires":[["0e1e7ca817a4f2ce"]]},{"id":"563c63c242418293","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvoTemp","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvoTemp\",\"type\":\"SNVT_temp_f\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvoTemp\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvoTemp\",\"datapointName\":\"nvoTemp\",\"datapointType\":\"SNVT_temp_f\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvoTemp/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":98,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":100,"y":780,"wires":[["4159707cbfc6c83b"]]},{"id":"4fa5e9d91ce4f322","type":"iap-input-sub","z":"d2b8a0b551742ad5","name":"nvoTVOC","topic":"glp/+/+/ev/data","broker":"1d52df72.1bbe61","datatype":"auto","polling":"10","fixed":false,"resolved":false,"sflow":false,"selecteddp":"[{\"name\":\"nvoTVOC\",\"type\":\"9000010a5a000000-4/UNVT_TVOC\",\"deviceId\":3,\"deviceName\":\"LoRaGateway\",\"blockName\":\"AM319\",\"blockIndex\":0,\"dpQualifier\":\"17qdkkc/lon/LoRaGateway/AM319/0/nvoTVOC\",\"dpQualifier2\":\"SmartServer IoT/lon/LoRaGateway/AM319/0/nvoTVOC\",\"datapointName\":\"nvoTVOC\",\"datapointType\":\"9000010a5a000000-4/UNVT_TVOC\",\"deviceType\":173,\"device\":{\"name\":\"LoRaGateway\",\"category\":\"EDGE\",\"id\":3,\"latitude\":51.4964,\"longitude\":-0.1224,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":39654,\"floorId\":39655,\"zoneIds\":[41798,39656],\"x\":39,\"y\":19},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2022-03-28T20:45:27.052+01:00[Europe/London]\",\"action\":null,\"product\":\"lora_gw\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":117,\"subnet\":200,\"domainId\":\"AD\",\"domainLength\":1}},\"BindingConstraints\":\"3\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2022-06-09T09:10:09.348582+01:00[Europe/London]\",\"contexts\":[30],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17qdkkc\",\"scState\":\"provisioned\",\"uid\":\"00D0710C85B5\",\"protocol\":\"lon\",\"typeId\":173,\"createdOnGlp\":true,\"deviceTypeName\":\"Lora LON GW\",\"gpsEnabled\":false,\"installationDate\":\"2022-02-02\",\"DID\":\"LoRaGateway\"},\"topic\":\"glp/0/17qdkkc/fb/dev/lon/LoRaGateway/if/AM319/0\",\"message\":\"nvoTVOC/value\",\"context\":{\"id\":30,\"name\":\"DFS Watford / Ground Floor / Plant Room / C\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"AREA\"}}]","selectedctx":"[]","ctxd":"[]","nodeConfig":"{\"PROTOCOL_ELEMENT\":1,\"DATAPOINT_TYPE_ELEMENT\":12,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":5,\"BLOCK_INDEX_ELEMENT\":1,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}","getDatapointMessage":{},"x":100,"y":460,"wires":[["8f373ad0e03fed18"]]},{"id":"134d2bfc52dd9685","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"8eb086c7a1e451b6","order":2,"width":0,"height":0,"label":"PM 10 Micron (ug/m3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":100,"wires":[[]]},{"id":"7a3247e028eaa69f","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"8eb086c7a1e451b6","order":1,"width":0,"height":0,"label":"PM 2.5 Micron (ug/m3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":220,"wires":[[]]},{"id":"0a057f5ba8789671","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"1f6b262554647800","order":7,"width":0,"height":0,"label":"CO2 (ppm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":670,"y":1140,"wires":[[]]},{"id":"0ca20b9672d3573c","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"8eb086c7a1e451b6","order":4,"width":0,"height":0,"label":"HCHO (mg/m3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":340,"wires":[[]]},{"id":"d1b65464e1f4f32d","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"1f6b262554647800","order":1,"width":0,"height":0,"label":"Humidity (RH%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":1020,"wires":[[]]},{"id":"9d5e0d7c3b0714b6","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"1468de1c461f402a","order":3,"width":0,"height":0,"label":"Occupancy","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":670,"y":620,"wires":[[]]},{"id":"71b6a9b2ecb6e876","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"1f6b262554647800","order":3,"width":0,"height":0,"label":"Pressure (mBar)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":900,"wires":[[]]},{"id":"867510056f5c66e3","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"1f6b262554647800","order":5,"width":0,"height":0,"label":"Temperature (Degrees C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":780,"wires":[[]]},{"id":"7e9b2c69e04b934c","type":"ui_chart","z":"d2b8a0b551742ad5","name":"","group":"8eb086c7a1e451b6","order":3,"width":0,"height":0,"label":"TVOC (mg/m3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":460,"wires":[[]]},{"id":"91ecbfa78b689802","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"cf01c85e6d257cfb","order":3,"width":0,"height":0,"gtype":"gage","title":"PM 10 Micron","label":"ug/m3","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":680,"y":60,"wires":[]},{"id":"fd7108d476a4ebfb","type":"ui_text","z":"d2b8a0b551742ad5","group":"","order":2,"width":0,"height":0,"name":"","label":"PM 10 Micron","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":140,"wires":[]},{"id":"76f42f83cbfedcdd","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"cf01c85e6d257cfb","order":1,"width":0,"height":0,"gtype":"gage","title":"PM 2.5 Micron","label":"ug/m3","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":680,"y":180,"wires":[]},{"id":"acbfc0b2db3c79cd","type":"ui_text","z":"d2b8a0b551742ad5","group":"","order":6,"width":0,"height":0,"name":"","label":"PM 2.5 Micron","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":260,"wires":[]},{"id":"2b676bfa111f64ea","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"b0e2a03be63f5838","order":7,"width":0,"height":0,"gtype":"gage","title":"CO2 ppm","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":660,"y":1100,"wires":[]},{"id":"e3eeec53bb0b1e5a","type":"ui_text","z":"d2b8a0b551742ad5","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":1180,"wires":[]},{"id":"f9e3131cb501f975","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"cf01c85e6d257cfb","order":7,"width":0,"height":0,"gtype":"gage","title":"HCHO","label":"mg/m3","format":"{{value}}","min":0,"max":".150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":300,"wires":[]},{"id":"52d96780b8b579aa","type":"ui_text","z":"d2b8a0b551742ad5","group":"","order":8,"width":0,"height":0,"name":"","label":"HCHO","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":380,"wires":[]},{"id":"2f2d0cc0a1d6c6b4","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"b0e2a03be63f5838","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"RH%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":660,"y":980,"wires":[]},{"id":"4598f6b0e811e332","type":"ui_text","z":"d2b8a0b551742ad5","group":"","order":5,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","className":"","x":660,"y":1060,"wires":[]},{"id":"0cb3ba7f690ea796","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"1468de1c461f402a","order":1,"width":0,"height":0,"gtype":"gage","title":"Occupancy","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":670,"y":580,"wires":[]},{"id":"1b05aa20586d38cc","type":"ui_text","z":"d2b8a0b551742ad5","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":660,"wires":[]},{"id":"4672ffc50649a451","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"b0e2a03be63f5838","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"mBar","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":660,"y":860,"wires":[]},{"id":"b1eb09aac00be73c","type":"ui_text","z":"d2b8a0b551742ad5","group":"","order":2,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","className":"","x":660,"y":940,"wires":[]},{"id":"72a83d2d5a69ac45","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"b0e2a03be63f5838","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degrees C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":670,"y":740,"wires":[]},{"id":"a9dcee0d44e7cb0f","type":"ui_text","z":"d2b8a0b551742ad5","group":"","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","className":"","x":670,"y":820,"wires":[]},{"id":"b3dcad8ac2e04e54","type":"ui_gauge","z":"d2b8a0b551742ad5","name":"","group":"cf01c85e6d257cfb","order":5,"width":0,"height":0,"gtype":"gage","title":"TVOC","label":"mg/m3","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":420,"wires":[]},{"id":"4a1a6f721e5e1fad","type":"ui_text","z":"d2b8a0b551742ad5","group":"","order":4,"width":0,"height":0,"name":"","label":"TVOC","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":500,"wires":[]},{"id":"4159707cbfc6c83b","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":780,"wires":[["867510056f5c66e3","a9dcee0d44e7cb0f","72a83d2d5a69ac45"]]},{"id":"da5c8d97385b0759","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["91ecbfa78b689802","134d2bfc52dd9685","fd7108d476a4ebfb"]]},{"id":"7cc32af66c7a6de7","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["76f42f83cbfedcdd","7a3247e028eaa69f","acbfc0b2db3c79cd"]]},{"id":"fbb14c11d59611a9","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1140,"wires":[["2b676bfa111f64ea","0a057f5ba8789671","e3eeec53bb0b1e5a"]]},{"id":"025d99447cb1a199","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":340,"wires":[["f9e3131cb501f975","0ca20b9672d3573c","52d96780b8b579aa"]]},{"id":"a258f5f5c3d26850","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1020,"wires":[["2f2d0cc0a1d6c6b4","d1b65464e1f4f32d","4598f6b0e811e332"]]},{"id":"cd5b310ed06e6277","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":620,"wires":[["0cb3ba7f690ea796","9d5e0d7c3b0714b6","1b05aa20586d38cc"]]},{"id":"0e1e7ca817a4f2ce","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":900,"wires":[["4672ffc50649a451","71b6a9b2ecb6e876","b1eb09aac00be73c"]]},{"id":"8f373ad0e03fed18","type":"function","z":"d2b8a0b551742ad5","name":"","func":"var msg1 = {};\nmsg1.payload = {};\ntmp = msg.payload.data;\n//msg1.payload.topic = msg.payload.message\n//msg1.payload.data = msg.payload.data;\nmsg1.payload = tmp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":460,"wires":[["b3dcad8ac2e04e54","7e9b2c69e04b934c","4a1a6f721e5e1fad"]]},{"id":"1d52df72.1bbe61","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8eb086c7a1e451b6","type":"ui_group","name":"IAQ Charts","tab":"a95d8b1c03ba41b8","order":6,"disp":true,"width":6,"collapse":false,"className":""},{"id":"1f6b262554647800","type":"ui_group","name":"Environmental Charts","tab":"a95d8b1c03ba41b8","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"1468de1c461f402a","type":"ui_group","name":"Occupancy","tab":"a95d8b1c03ba41b8","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"cf01c85e6d257cfb","type":"ui_group","name":"IAQ Gauges","tab":"a95d8b1c03ba41b8","order":5,"disp":true,"width":6,"collapse":false,"className":""},{"id":"b0e2a03be63f5838","type":"ui_group","name":"Environmental Gauges","tab":"a95d8b1c03ba41b8","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"a95d8b1c03ba41b8","type":"ui_tab","name":"AM319/0","icon":"dashboard","order":1,"disabled":false,"hidden":false}]