starter-kit/Node-RED Tutorial/Exercise 2.1.json
[{"id":"8a2c849c.844e18","type":"tab","label":"Exercise 2.1","disabled":true,"info":""},{"id":"9a61b5d0.90ab28","type":"iap-input-sub","z":"8a2c849c.844e18","name":"LON Temp","topic":"glp/+/+/ev/data","broker":"92efa03d.53444","datatype":"auto","polling":300,"fixed":true,"selecteddp":"[{\"name\":\"nvoTempSensor\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"TempSensor\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/2/TempSensor/0/nvoHVACTemp\",\"datapointName\":\"nvoHVACTemp\",\"datapointType\":\"SNVT_temp_p\",\"deviceType\":176,\"topic\":\"glp/0/17q4rrw/fb/dev/lon/2/if/TempSensor/0\",\"message\":\"nvoHVACTemp/value\"}]","selectedctx":"[{\"id\":5,\"name\":\"Mango HQ / Building 1 / Floor 1 / Office 1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","ctxd":"[{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[191],\"x\":157,\"y\":96},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:42:45.659-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"SC100MP\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-30T09:28:31.071-07:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07113A176\",\"protocol\":\"lon\",\"typeId\":176,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"2\"}]","x":140,"y":120,"wires":[["9b44b007.b3b67","ab4de36c.dd6fc"]],"icon":"font-awesome/fa-umbrella"},{"id":"4df03673.4af788","type":"iap-output","z":"8a2c849c.844e18","name":"VAV Occ","reconnect":5,"topic":"glp/+/+/ev/data","qos":"2","datatype":"auto","broker":"92efa03d.53444","throttle":300,"fixed":false,"selectedctx":"[{\"id\":4,\"name\":\"Alcatraz - Federal Resort / Capone Building / F1 / R1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","selecteddp":"[{\"name\":\"nviOccSensor\",\"deviceId\":5,\"deviceName\":\"VAV_Sim\",\"blockName\":\"sccVAV\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/3/sccVAV/0/nviOccSensor\",\"datapointName\":\"nviOccSensor\",\"datapointType\":\"SNVT_occupancy\",\"deviceType\":177,\"topic\":\"glp/0/17q4rrw/rq/dev/lon/3/if/sccVAV/0\",\"payload\":{\"nviOccSensor\":{\"value\":0}}}]","ctxd":"[{\"name\":\"VAV_Sim\",\"category\":\"EDGE\",\"id\":5,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[190],\"x\":341,\"y\":41},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:59:35.375-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VAV_sim\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-20T15:59:38.542-07:00[America/Los_Angeles]\",\"contexts\":[4],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07115098E\",\"protocol\":\"lon\",\"typeId\":177,\"createdOnGlp\":true,\"deviceTypeName\":\"VAV_sim\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"3\"}]","x":860,"y":180,"wires":[],"icon":"font-awesome/fa-smile-o"},{"id":"9b44b007.b3b67","type":"debug","z":"8a2c849c.844e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.data","targetType":"msg","statusVal":"payload","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"4f2bbcd3.2e1154","type":"inject","z":"8a2c849c.844e18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"ev/data","payload":"{\"data\":25}","payloadType":"json","x":650,"y":80,"wires":[["ab4de36c.dd6fc"]]},{"id":"fdd2e7db.41ea38","type":"iap-input-sub","z":"8a2c849c.844e18","name":"LON Occ","topic":"glp/+/+/ev/data","broker":"92efa03d.53444","datatype":"auto","polling":300,"fixed":true,"selecteddp":"[{\"name\":\"nvoDI_1\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Input\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/2/Digital Input/0/nvoValue\",\"datapointName\":\"nvoValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":176,\"topic\":\"glp/0/17q4rrw/fb/dev/lon/2/if/Digital Input/0\",\"message\":\"nvoValue/value\"}]","selectedctx":"[{\"id\":5,\"name\":\"Mango HQ / Building 1 / Floor 1 / Office 1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","ctxd":"[{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[191],\"x\":157,\"y\":96},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:42:45.659-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"SC100MP\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-30T09:28:31.071-07:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07113A176\",\"protocol\":\"lon\",\"typeId\":176,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"2\"}]","x":140,"y":180,"wires":[[]],"icon":"font-awesome/fa-smile-o"},{"id":"ab4de36c.dd6fc","type":"iap-output","z":"8a2c849c.844e18","name":"VAV Temp","reconnect":5,"topic":"glp/+/+/ev/data","qos":"2","datatype":"auto","broker":"92efa03d.53444","throttle":300,"fixed":false,"selectedctx":"[{\"id\":5,\"name\":\"Mango HQ / Building 1 / Floor 1 / Office 1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","selecteddp":"[{\"name\":\"nviSpaceTemp\",\"deviceId\":5,\"deviceName\":\"VAVsim\",\"blockName\":\"sccVAV\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/3/sccVAV/0/nviSpaceTemp\",\"datapointName\":\"nviSpaceTemp\",\"datapointType\":\"SNVT_temp_p\",\"deviceType\":177,\"topic\":\"glp/0/17q4rrw/rq/dev/lon/3/if/sccVAV/0\",\"payload\":{\"nviSpaceTemp\":{\"value\":0}}}]","ctxd":"[{\"name\":\"VAVsim\",\"category\":\"EDGE\",\"id\":5,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[191],\"x\":157,\"y\":96},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:59:35.375-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VAV_sim\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-31T09:23:47.144-07:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07115098E\",\"protocol\":\"lon\",\"typeId\":177,\"createdOnGlp\":true,\"deviceTypeName\":\"VAV_sim\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"3\"}]","x":850,"y":120,"wires":[]},{"id":"92efa03d.53444","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]