starter-kit/Node-RED Examples/StarterKit Dashboard/StarterKit_NodeRed_fixedDps_webflow_02_11_21.json
[
    {
        "id": "36ecb6b.7693d4a",
        "type": "tab",
        "label": "Starter Kit Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "471eb69b.36967",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "FT 6050 LUX",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": 300,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoLightLevel\",\"type\":\"SNVT_lux\",\"deviceId\":2,\"deviceName\":\"MS-01\",\"blockName\":\"LightSensor\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/1/LightSensor/0/nvoLuxLevel\",\"dpQualifier2\":\"SmartServer IoT/lon/MS-01/LightSensor/0/nvoLuxLevel\",\"datapointName\":\"nvoLuxLevel\",\"datapointType\":\"SNVT_lux\",\"deviceType\":578,\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/1/if/LightSensor/0\",\"message\":\"nvoLuxLevel/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":2,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"light\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "9dc25528.808608",
                "db2530e1.85805"
            ]
        ]
    },
    {
        "id": "b22ab8b6.39bc9",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "FT6050 Temp",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoTemperature\",\"type\":\"SNVT_temp_p\",\"deviceId\":2,\"deviceName\":\"MS-01\",\"blockName\":\"TempSensor\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/1/TempSensor/0/nvoHVACTemp\",\"dpQualifier2\":\"SmartServer IoT/lon/MS-01/TempSensor/0/nvoHVACTemp\",\"datapointName\":\"nvoHVACTemp\",\"datapointType\":\"SNVT_temp_p\",\"deviceType\":578,\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/1/if/TempSensor/0\",\"message\":\"nvoHVACTemp/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":1,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"temp\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "9dc25528.808608",
                "ae8d1b11.3aa63"
            ]
        ]
    },
    {
        "id": "9dc25528.808608",
        "type": "ui_template",
        "z": "36ecb6b.7693d4a",
        "group": "7e13f8c6.7601c8",
        "name": "Starter Kit Image Template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .adamButtons {\n        position:absolute;\n        top:500px;\n        left:225px;\n        \n    }\n    .adamLeds {\n        position:absolute;\n        top:400px;\n        left:120px;\n        \n    }\n    .buttonSize {\n        width:24px;\n        height:24px;\n    }\n    .circleLedSize {\n        width:15px;\n        height:15px;\n    }\n    \n    .display {\n        color:black;\n        background-color:lightyellow;\n        position:absolute;\n        font-size: small;\n        margin-left: 5px;\n    }\n    .displaySpan {\n        display:inline-block;\n        width:2em;\n    }\n    .ft6050Display {\n        width:80px;\n        top:300px;\n        left:148px;\n    }\n    \n    .ft6050Leds {\n        position:absolute;\n        top:350px;\n        left:180px;\n        display:flex;\n    }\n    .rectangleLedSize {\n        width:18px;\n        height:13px;\n    }\n    \n    \n    .myImage {\n       /* background-color:blue !important; */\n       height:600px;\n       width:500px; \n       /*background-size:cover; */\n       background-repeat:no-repeat;\n       background-image: url(\"../../images/starterkit_medium _black.jpg\") !important;\n    }\n    \n    .sc100Display {\n        width:50px;\n        top:320px;\n        left:300px;\n    }\n    .sc100HorizontalButtons {\n        display:flex;\n        position:absolute;\n        top:390px;\n        left:287px;\n    }\n    .sc100HorizontalLeds {\n        display:flex;\n        position:absolute;\n        top:200px;\n        left:287px;\n    }\n    .sc100VerticalLeds {\n        position:absolute;\n        top:280px;\n        left:392px;\n    }\n    .tstatDisplay {\n        position:absolute;\n        width:75px;\n        top:510px;\n        /* top:518px; */\n        left:287px;\n    }\n    .tstatLed {\n        position:absolute;\n        width:50px;\n        top:450px;\n        left:290px;\n    }\n    .tstatRadioButtons {\n        position:absolute;\n        color:black;\n        top:480px;\n        left:290px;\n    }\n    .tstatRadioButtons.span {\n        margin:0;\n    }\n</style>\n<p style=\"display:none\" ng-bind-html=\"msg.payload\"></p>\n<div id=\"{{'myImage_' + $id}}\" class=\"myImage\">\n\n<div id=\"{{'ft6050_' + $id}}\" class=\"display ft6050Display\">\n    <div><span>L: </span><span id=\"{{'ft6050-LightSensor-0-nvoLuxLevel_' + $id}}\">-</span> LUX</div>\n    <div><span>T: </span><span id=\"{{'ft6050_TempSensor_0_nvoHVACTemp_' + $id}}\">-</span><span> &deg; C</span></div>\n</div>\n\n<div id=\"{{'ft6050Leds_' + $id}}\" class=\"ft6050Leds\">\n    <div class=\"rectangleLedSize\" ><svg id=\"{{'ft6050_led1_' + $id}}\" xmlns=\"http://www.w3.org/2000/svg\">\n    <rect id=\"ledcolor\" width=\"18\" height=\"13\" stroke=\"grey\" stroke-width=\"3\" fill=\"grey\" />       \n    </svg></div>\n    <div style=\"width:18px;height:13px;margin-left:20px\" ><svg id=\"{{'ft6050_led2_' + $id}}\" xmlns=\"http://www.w3.org/2000/svg\">\n    <rect id=\"ledcolor\" width=\"18\" height=\"13\" stroke=\"grey\" stroke-width=\"3\" fill=\"grey\" />       \n    </svg></div>\n</div>\n\n<div class=\"sc100HorizontalLeds\">\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;\" ><svg id=\"{{'sc100_led4_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"7.5\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />       \n    </svg></div>\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;margin-left:12px\"><svg id=\"{{'sc100_led5_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"7.5\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />       \n    </svg></div>\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;margin-left:12px\"><svg id=\"{{'sc100_led6_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"7.5\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />       \n    </svg></div>\n</div>\n<!--\n<div class=\"sc100HorizontalButtons\">\n    <div  class=\"buttonSize\"><svg id=\"{{'sc100_sw1_' + $id}}\" height=\"24\" width=\"24\">\n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"10\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />  \n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"5\" stroke=\"black\" stroke-width=\"1\" fill=\"none\" /> \n    </svg></div>\n    <div  class=\"buttonSize\" style=\"margin-left:12px\"><svg id=\"{{'sc100_sw2_' + $id}}\" height=\"24\" width=\"24\">\n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"10\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />  \n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"5\" stroke=\"black\" stroke-width=\"1\" fill=\"none\" /> \n    </svg></div>\n    <div  class=\"buttonSize\" style=\"margin-left:12px\"><svg id=\"{{'sc100_sw3_' + $id}}\" height=\"24\" width=\"24\">\n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"10\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />  \n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"5\" stroke=\"black\" stroke-width=\"1\" fill=\"none\" /> \n    </svg></div>\n</div>\n-->\n<div class=\"sc100VerticalLeds\">\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;\" ><svg id=\"{{'sc100_led1_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"5\" stroke=\"black\" stroke-width=\"2\" fill=\"grey\" />       \n    </svg></div>\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;margin-top:3px\"><svg id=\"{{'sc100_led2_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"5\" stroke=\"black\" stroke-width=\"2\" fill=\"grey\" />       \n    </svg></div>\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;margin-top:3px\"><svg id=\"{{'sc100_led3_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"5\" stroke=\"black\" stroke-width=\"2\" fill=\"grey\" />       \n    </svg></div>\n</div>\n<div class=\"adamButtons\">\n    <div  class=\"buttonSize\"><svg id=\"{{'adam_sw1_' + $id}}\" height=\"24\" width=\"24\">\n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"10\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />  \n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"5\" stroke=\"black\" stroke-width=\"1\" fill=\"none\" /> \n    </svg></div>\n    <div  class=\"buttonSize\" style=\"margin-top:5px\"><svg id=\"{{'adam_sw2_' + $id}}\" height=\"24\" width=\"24\">\n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"10\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />  \n    <circle id=\"ledcolor\" cx=\"12\" cy=\"12\" r=\"5\" stroke=\"black\" stroke-width=\"1\" fill=\"none\" /> \n    </svg></div>\n</div>\n<div class=\"adamLeds\">\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;\" ><svg id=\"{{'adam_led1_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"5\" stroke=\"black\" stroke-width=\"2\" fill=\"grey\" />       \n    </svg></div>\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;margin-top:3px\"><svg id=\"{{'adam_led2_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"5\" stroke=\"black\" stroke-width=\"2\" fill=\"grey\" />       \n    </svg></div>\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;margin-top:70px\"><svg id=\"{{'adam_led3_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"5\" stroke=\"black\" stroke-width=\"2\" fill=\"grey\" />       \n    </svg></div>\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;margin-top:3px\"><svg id=\"{{'adam_led4_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"5\" stroke=\"black\" stroke-width=\"2\" fill=\"grey\" />       \n    </svg></div>\n</div>\n<div class=\"tstatLed\">\n    <div  class=\"cirleLedSize\" style=\"width:15px;height:15px;\" ><svg id=\"{{'tstat_led_' + $id}}\" height=\"30\" width=\"30\">\n    <circle id=\"ledcolor\" cx=\"15\" cy=\"15\" r=\"7.5\" stroke=\"black\" stroke-width=\"3\" fill=\"grey\" />       \n    </svg></div>\n</div>\n\n\n<div id=\"{{'sc100_' + $id}}\" class=\"display sc100Display\">\n    <div><span id=\"{{'sc100_temp_' + $id}}\">-</span> &deg; F</div>\n</div>\n<div id=\"{{'tstat_' + $id}}\" class=\"display tstatDisplay\">\n    <div><span class=\"displaySpan\">SPT: </span><span id=\"{{'tstat_setpt_' + $id}}\">-</span></div>\n    <div><span class=\"displaySpan\">T: </span><span id=\"{{'tstat_temp_' + $id}}\">-</span></div>\n</div>\n<div id=\"{{'tstatRadioButtons_' + $id}}\" class=\"tstatRadioButtons\">\n    <input type=\"radio\" id=\"{{'tstateRadioSelected_c_' + $id}}\" name=\"tstatRadio\"  value=\"0\"><span>&deg;C</span>\n    <input type=\"radio\" id=\"{{'tstateRadioSelected_f_' + $id}}\" name=\"tstatRadio\"  value=\"1\"><span>&deg;F</span>\n</div>\n</div>\n<script>\nvar i = 0;\nvar oldValue = null;\n\n\n\n(function(scope) {\n    var sTemp = \"\";\n    var dpPath = \"\";\n    var iPtr = -1;\n    var color = \"\";\n    var topic;\n    var value;\n    var i;\n    var dpList = []; //context.get('dpList') || [];\n    var displayId = scope.$id;\n    \n    console.log(scope.$id);\n    \n    $(document).ready(function() {init();});\n    function init() {\n        // need to add all events manually\n        // Click event\n        addClickEvent(\"adam_sw1_\" + scope.$id);  // add event to this scope\n        addClickEvent(\"adam_sw2_\" + scope.$id);  // add event to this scope\n        \n        addClickEvent(\"tstateRadioSelected_c_\" + scope.$id);  // add event to this scope\n        addClickEvent(\"tstateRadioSelected_f_\" + scope.$id);  // add event to this scope\n        /*\n        addClickEvent(\"sc100_sw1_\" + scope.$id);  // add event to this scope\n        addClickEvent(\"sc100_sw2_\" + scope.$id);  // add event to this scope\n        addClickEvent(\"sc100_sw3_\" + scope.$id);  // add event to this scope */\n        \n    }\n   \n    //var dpList = context.get('dpList') || [];\n    function addClickEvent(id) {\n        console.log(\"click event added for: \" + id);\n        $(\"#\" + id).click(function() {\n            addClickEventProcess(this);\n            //alert(this.id);\n            \n        });\n    }\n    \n    function addClickEventProcess(n) {\n        try {\n            //console.log(\"click event: \" + n.id); //remove\n            if(n.id.startsWith(\"tstateRadioSelected\")) {\n                //console.log(\"click event1: \" + n.id); //remove\n                tstatUnitsEvent(n);\n            }\n            else {\n                //console.log(\"click event2: \" + n.id); //remove\n                svgButtonClicked(n);\n                \n            }\n        } catch {}\n    }\n\n    \n    function checkIfNewValue(msg1) {\n        \n        if(!msg1.hasOwnProperty(\"datapoint\")) {\n            //console.log(\"no datapoint property: \" + JSON.stringify(msg1)); //remove\n            return false;\n        }\n        topic = msg1.datapoint.dpQualifier2;\n        //console.log(\"checkIfNewValue2\"); //remove\n        value = msg1.payload.data;\n        //console.log(topic); //remove\n        \n        var notFound = true;\n        \n        for(i=0; i < dpList.length; i++)\n        {\n            if(dpList[i].topic === topic) {\n                notFound = false;\n                if(JSON.stringify(dpList[i].value) !== JSON.stringify(value)) {\n                    dpList[i].value = value;\n                \n                   return(true);\n                }\n                break;\n            }\n        }\n        if(notFound) {\n            var obj = {};\n            obj.topic = topic;\n            obj.value = value;\n            dpList.push(obj);\n             console.log(\"Initial Value for: \" + topic + \" = \" + JSON.stringify(value));\n            return(true);\n        }\n        \n        return false;\n        \n    }\n    function getDisplayListIndex(id, path) {\n        var result = -1;\n        var i;\n        try {\n            if(id.indexOf(\"adam_\") === 0)\n                path = \"SmartServer IoT/modbus/\" + path;\n            else if(id.indexOf(\"tstat_\") === 0)\n                path = \"SmartServer IoT/bacnet/\" + path;\n            else\n                path = \"SmartServer IoT/lon/\" + path;\n            console.log(\"path: \" + path); // remove\n            for(i=0; i < dpList.length; i++)\n            {\n                if(dpList[i].topic === path) {\n                    return i;\n                    break;\n                }\n            }    \n        }\n        catch {}\n        return result;\n    }\n   \n    function setLedSvg(nameId, color, base) {  \n       // console.log(nameId + \": \" + color); //remove\n    \t$svg = $(\"#\" + nameId);\n    \t//var color1 = \t$(\"#ledcolor\", $svg).attr('fill'); // remove - used for debug\n    \t//console.log(nameId + \": current color\" + JSON.stringify(color1)); // remove - used for debug\n    \t//$(\"#ledcolor\", $svg).attr('style', \"fill:\" + color); //remove - no longer needed\n    \t$(\"#ledcolor\", $svg).attr(\"fill\", color);\n    \tif(base !== null) {\n    \t    $(\"#ledbasecolor\", $svg).attr('style', \"fill:\" + base);\n    \t}\n    \t\n    }\n    function svgButtonClicked(n) {\n        try {\n            var color;\n            var newValue;\n            var i, index, data;\n            console.log(\"switch clicked5: \" + n.id + \", displayId\" + displayId);\n            if(n.id === ('adam_sw1_' + displayId)) \n                svgButtonSendChange(n.id, \"DIO/DO/0/DO_0\",\"adam/1\");\n            else if(n.id === ('adam_sw2_' + displayId))\n                svgButtonSendChange(n.id, \"DIO/DO/0/DO_1\",\"adam/2\");\n            else {\n                console.log(\"switch clicked6: Unknown html element = \" + n.id);\n            }\n        }\n        catch{}\n    }\n    function svgButtonSendChange(id, path,newToken) {\n        try {\n            \n            var color, newValue;\n            var index = getDisplayListIndex(id, path);\n            console.log(\"svgButtonSendChange1: \" + id + \", \" + path + \", \" + newToken + \", index: \" + index); //remove\n            if(index !== -1) {\n                console.log(\"svgButtonSendChange1: \" + id + \", \" + path + \", \" + newToken); //remove\n                $svg = $(\"#\" + id);\n                color = \t$(\"#ledcolor\", $svg).attr('fill'); // remove\n                if(color === \"grey\") {\n                    color = \"blue\"\n                    newValue = 1; //{\"state\":1,\"value\":100};\n                }\n                else {\n                    color = \"grey\";\n                    newValue = 0; //{\"state\":0,\"value\":0};\n                }\n    \t        console.log(\"svgButtonSendChange3: \" + path + \", \" + newToken); //remove\n    \t        $(\"#ledcolor\", $svg).attr(\"fill\", color);\n    \t        \n                scope.send({payload:{data: newValue}, token: newToken});\n                dpList[index].value = newValue;\n            }\n            \n        }\n        catch {}\n    }\n    \n    function tstatUnitsEvent(n) {\n        var newToken = \"tstat/bv51\";\n        var value = 0;\n        \n        if($(\"#\" + n.id).prop(\"checked\")) {\n            \n            if(n.id.startsWith(\"tstateRadioSelected_f_\"))\n                value = 1;\n            scope.send({payload:{data: value}, token: newToken});\n        }\n        else\n            console.log(\"tstatUnits(value)3: \" +  newToken + \" = \" + value + \", Not checked\"); //remove\n    }\n    \n   \n    \n    scope.$watch('msg', function(msg) {\n        var newValue;\n        if(msg) {\n            \n            if(checkIfNewValue(msg)) {\n                newValue = msg.payload.data;\n                dpPath = msg.datapoint.dpQualifier2;\n           //console.log(dpPath); //remove\n                iPtr = dpPath.indexOf(\"/\");\n                if(iPtr > 0) {\n                    iPtr = dpPath.indexOf(\"/\", iPtr + 1);\n                    if(iPtr > 0) \n                        dpPath = dpPath.substr(iPtr + 1);\n                }\n                \n                //console.log(dpPath + \": \" + JSON.stringify(newValue)); //remove\n                if(dpPath === \"MS-01/LightSensor/0/nvoLuxLevel\") \n                    $(\"#ft6050-LightSensor-0-nvoLuxLevel_\" + scope.$id).html(msg.payload.data);\n                else if(dpPath === \"MS-01/TempSensor/0/nvoHVACTemp\") \n                    $(\"#ft6050_TempSensor_0_nvoHVACTemp_\" + scope.$id).html(msg.payload.data);\n                \n                else if(dpPath === \"MS-01/Lamp/0/nvoValueFb\") {\n                    color = \"black\"\n                    if(newValue.state === 1) \n                        color = \"blue\";\n                    setLedSvg(\"ft6050_led1_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"MS-01/Lamp/1/nvoValueFb\") {\n                    color = \"black\"\n                    if(newValue.state === 1) \n                        color = \"blue\";\n                    setLedSvg(\"ft6050_led2_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO/DI/0/DI_0\") {\n                    color = \"green\";\n                    if(newValue === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"adam_led1_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO/DI/0/DI_1\") {\n                    color = \"green\";\n                    if(newValue === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"adam_led2_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO/DI/0/DI_2\") {\n                    color = \"green\";\n                    if(newValue === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"adam_led3_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO/DI/0/DI_3\") {\n                    color = \"green\";\n                    if(newValue === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"adam_led4_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO/DO/0/DO_0\") {\n                    color = \"grey\";\n                    if(newValue === 1) \n                        color = \"blue\";\n                    setLedSvg(\"adam_sw1_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO/DO/0/DO_1\") {\n                    color = \"grey\";\n                    if(newValue === 1) \n                        color = \"blue\";\n                    setLedSvg(\"adam_sw2_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO-01/TempSensor/0/nvoHVACTemp\") \n                    $(\"#sc100_temp_\" + scope.$id).html(newValue.toFixed(1));\n                else if(dpPath === \"DIO-01/Digital Input/0/nvoValue\") {\n                    color = \"green\";\n                    if(newValue.state === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"sc100_led1_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO-01/Digital Input/1/nvoValue\") {\n                    color = \"green\";\n                    if(newValue.state === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"sc100_led2_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO-01/Digital Input/2/nvoValue\") {\n                    color = \"green\";\n                    if(newValue.state === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"sc100_led3_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO-01/Digital Output/0/nviValue\") {\n                    color = \"green\";\n                    if(newValue.state === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"sc100_led4_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO-01/Digital Output/1/nviValue\") {\n                    color = \"green\";\n                    if(newValue.state === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"sc100_led5_\" + scope.$id, color, null);\n                }\n                else if(dpPath === \"DIO-01/Digital Output/2/nviValue\") {\n                    color = \"green\";\n                    if(newValue.state === 1) \n                        color = \"yellowgreen\";\n                    setLedSvg(\"sc100_led6_\" + scope.$id, color, null);\n                }\n                \n                else if(dpPath === \"Tstat-101/device/0/BI:29\") {\n                    color = \"grey\"\n                    if(newValue === 1) \n                        color = \"red\";\n                    setLedSvg(\"tstat_led_\" + scope.$id, color, null);\n                }\n                \n                else if(dpPath === \"Tstat-101/device/0/AV:7\") \n                    $(\"#tstat_temp_\" + scope.$id).html(newValue.toFixed(1));\n                \n                else if(dpPath === \"Tstat-101/device/0/AV:39\") \n                    $(\"#tstat_setpt_\" + scope.$id).html(newValue.toFixed(1)); \n                \n                \n                else if(dpPath === \"Tstat-101/device/0/BV:51\") {\n                    //console.log(\"Tstat-101/device/0/BV:51 = \" + newValue);\n                    if(newValue === 0) \n                        $(\"#tstateRadioSelected_c_\" + scope.$id).prop('checked', true); \n                    else \n                        $(\"#tstateRadioSelected_f_\" + scope.$id).prop('checked', true);\n                    \n                }\n                \n                else \n                    console.log(\"unknown input DP: \" + dpPath + \"= \" + oldValue);\n           }\n           \n       } \n    });\n}) (scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 880,
        "y": 580,
        "wires": [
            [
                "79e9152e.c79104"
            ]
        ]
    },
    {
        "id": "fa77be81.613818",
        "type": "comment",
        "z": "36ecb6b.7693d4a",
        "name": "Starter Kit",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "76b4d0bb.d5d84",
        "type": "ui_chart",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "group": "cb918de2.31638",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "FT 6050 Light Level (lux)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#98df8a",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1170,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "db2530e1.85805",
        "type": "change",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "76b4d0bb.d5d84"
            ]
        ]
    },
    {
        "id": "8d7f7058.0307c",
        "type": "ui_chart",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "group": "cb918de2.31638",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "FT 6050 Temperature (&deg; C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 890,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "97db1e3b.a08a7",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 Temp",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoTempSensor\",\"type\":\"SNVT_temp_p\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"TempSensor\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/2/TempSensor/0/nvoHVACTemp\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/TempSensor/0/nvoHVACTemp\",\"datapointName\":\"nvoHVACTemp\",\"datapointType\":\"SNVT_temp_p\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:09.893-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/2/if/TempSensor/0\",\"message\":\"nvoHVACTemp/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"temp\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "9dc25528.808608",
                "9c065a88.c573f"
            ]
        ]
    },
    {
        "id": "e37f762d.520a78",
        "type": "ui_chart",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "group": "b80458b.2b67f28",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "SC100-MP Temperature (&deg; F)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff5151",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 960,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "cc9fa371.8a2b7",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "Tstat Temp",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": 300,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":null,\"type\":\"scalar\",\"deviceId\":13,\"deviceName\":\"Tstat-101\",\"blockName\":\"device\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/bacnet/6/device/0/AV:7\",\"dpQualifier2\":\"SmartServer IoT/bacnet/Tstat-101/device/0/AV:7\",\"datapointName\":\"AV:7\",\"datapointType\":\"scalar\",\"deviceType\":17481,\"device\":{\"name\":\"Tstat-101\",\"category\":\"EDGE\",\"id\":13,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"firmwareVersion\":\"v0.0.0\",\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T11:48:25-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B-3\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-19T11:48:55.856-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":17481,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C-3\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-19\",\"DID\":\"6\"},\"topic\":\"glp/0/17q4adz/fb/dev/bacnet/6/if/device/0\",\"message\":\"AV:7/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":3,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"AV:7\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 100,
        "y": 1100,
        "wires": [
            [
                "9dc25528.808608",
                "d86b9cd5.abeaa"
            ]
        ]
    },
    {
        "id": "1ae164c4.10f7bb",
        "type": "ui_chart",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "group": "b80458b.2b67f28",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "TSTAT Temperature (&deg; F)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff5151",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 970,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "453876fa.5f08d",
        "type": "ui_switch",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "label": "FT6050 LED1 Switch",
        "tooltip": "",
        "group": "cb918de2.31638",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 760,
        "y": 1160,
        "wires": [
            [
                "2dbb3c77.a1116c"
            ]
        ]
    },
    {
        "id": "76bd7929.ebfd7",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "FT65050 LED1",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoLampFb_1\",\"type\":\"SNVT_switch\",\"deviceId\":2,\"deviceName\":\"MS-01\",\"blockName\":\"Lamp\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/1/Lamp/0/nvoValueFb\",\"dpQualifier2\":\"SmartServer IoT/lon/MS-01/Lamp/0/nvoValueFb\",\"datapointName\":\"nvoValueFb\",\"datapointType\":\"SNVT_switch\",\"deviceType\":578,\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/1/if/Lamp/0\",\"message\":\"nvoValueFb/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":1,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"lamp\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "20edb233.9a9616",
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "18345d99.3d30ea",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":\"nviLamp_1\",\"type\":\"SNVT_switch\",\"deviceId\":2,\"deviceName\":\"MS-01\",\"blockName\":\"Lamp\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/1/Lamp/0/nviValue\",\"dpQualifier2\":\"SmartServer IoT/lon/MS-01/Lamp/0/nviValue\",\"datapointName\":\"nviValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":578,\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"topic\":\"glp/0/17q4adz/rq/dev/lon/1/if/Lamp/0\",\"payload\":{\"nviValue\":{\"value\":0},\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"deviceName\":\"MS-01\"}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"nvilamp\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1290,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2dbb3c77.a1116c",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "boolean to SNVT_switch",
        "func": "var msg1 = {};\nmsg1.payload = {};\nmsg1.payload.data = {};\nif(msg.payload === true)\n    msg1.payload.data = {'state':1,'value':100};\nelse\n    msg1.payload.data = {'state':0,'value':0};\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1010,
        "y": 1160,
        "wires": [
            [
                "18345d99.3d30ea"
            ]
        ]
    },
    {
        "id": "20edb233.9a9616",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "set payload to state (boolean)",
        "func": "var state = context.get('state');\nvar msg1 = {};\nif((state === null) || (state !== msg.payload.data.state)) {\n    state = msg.payload.data.state;\n    context.set(\"state\",state)\n    \n    if(state === 1)\n        msg1.payload = true;\n    else\n        msg1.payload = false;\n    return msg1;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "453876fa.5f08d"
            ]
        ]
    },
    {
        "id": "674ad48d.3b782c",
        "type": "ui_switch",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "label": "FT6050 Push Button 1",
        "tooltip": "",
        "group": "cb918de2.31638",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "mi-brightness_1",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "mi-panorama_fisheye",
        "offcolor": "grey",
        "x": 700,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "ac0b6bf8.415f28",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "FT6050 Pushbutton 1",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoSwitch_1\",\"type\":\"SNVT_switch\",\"deviceId\":2,\"deviceName\":\"MS-01\",\"blockName\":\"Switch\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/1/Switch/0/nvoValue\",\"dpQualifier2\":\"SmartServer IoT/lon/MS-01/Switch/0/nvoValue\",\"datapointName\":\"nvoValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":578,\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/1/if/Switch/0\",\"message\":\"nvoValue/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":1,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"switch\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 120,
        "y": 1340,
        "wires": [
            [
                "ca351e12.a8c95"
            ]
        ]
    },
    {
        "id": "ca351e12.a8c95",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "set payload to state (boolean)",
        "func": "var state = context.get('state');\nvar msg1 = {};\nif((state === null) || (state !== msg.payload.data.state)) {\n    state = msg.payload.data.state;\n    context.set(\"state\",state)\n    \n    if(state === 1)\n        msg1.payload = true;\n    else\n        msg1.payload = false;\n    return msg1;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "674ad48d.3b782c"
            ]
        ]
    },
    {
        "id": "27f245b6.0c43e2",
        "type": "ui_switch",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "label": "FT6050 Push Button 2",
        "tooltip": "",
        "group": "cb918de2.31638",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "mi-brightness_1",
        "oncolor": "yellowgreen",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "mi-panorama_fisheye",
        "offcolor": "grey",
        "x": 700,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "768ce6a.6fd8618",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "FT6050 Pushbutton 1",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoSwitch_2\",\"type\":\"SNVT_switch\",\"deviceId\":2,\"deviceName\":\"MS-01\",\"blockName\":\"Switch\",\"blockIndex\":1,\"dpQualifier\":\"17q4adz/lon/1/Switch/1/nvoValue\",\"dpQualifier2\":\"SmartServer IoT/lon/MS-01/Switch/1/nvoValue\",\"datapointName\":\"nvoValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":578,\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/1/if/Switch/1\",\"message\":\"nvoValue/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":1,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"switch\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 120,
        "y": 1420,
        "wires": [
            [
                "c2744026.b0a228"
            ]
        ]
    },
    {
        "id": "c2744026.b0a228",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "set payload to state (boolean)",
        "func": "var state = context.get('state');\nvar msg1 = {};\nif((state === null) || (state !== msg.payload.data.state)) {\n    state = msg.payload.data.state;\n    context.set(\"state\",state)\n    \n    if(state === 1)\n        msg1.payload = true;\n    else\n        msg1.payload = false;\n    return msg1;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1420,
        "wires": [
            [
                "27f245b6.0c43e2"
            ]
        ]
    },
    {
        "id": "13d74765.45e209",
        "type": "ui_switch",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "label": "FT6050 LED2 Switch",
        "tooltip": "",
        "group": "cb918de2.31638",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 760,
        "y": 1220,
        "wires": [
            [
                "d624adb3.cb9198"
            ]
        ]
    },
    {
        "id": "9b457d26.bb421",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "FT6050 LED 2",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoLampFb_2\",\"type\":\"SNVT_switch\",\"deviceId\":2,\"deviceName\":\"MS-01\",\"blockName\":\"Lamp\",\"blockIndex\":1,\"dpQualifier\":\"17q4adz/lon/1/Lamp/1/nvoValueFb\",\"dpQualifier2\":\"SmartServer IoT/lon/MS-01/Lamp/1/nvoValueFb\",\"datapointName\":\"nvoValueFb\",\"datapointType\":\"SNVT_switch\",\"deviceType\":578,\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/1/if/Lamp/1\",\"message\":\"nvoValueFb/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":1,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"lamp\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 120,
        "y": 1220,
        "wires": [
            [
                "ac4a7382.3e66b",
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "d7a1a381.c98528",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":\"nviLamp_2\",\"type\":\"SNVT_switch\",\"deviceId\":2,\"deviceName\":\"MS-01\",\"blockName\":\"Lamp\",\"blockIndex\":1,\"dpQualifier\":\"17q4adz/lon/1/Lamp/1/nviValue\",\"dpQualifier2\":\"SmartServer IoT/lon/MS-01/Lamp/1/nviValue\",\"datapointName\":\"nviValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":578,\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"topic\":\"glp/0/17q4adz/rq/dev/lon/1/if/Lamp/1\",\"payload\":{\"nviValue\":{\"value\":0},\"device\":{\"name\":\"MS-01\",\"category\":\"EDGE\",\"id\":2,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:17.255-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"6kEvbMultiSensor\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:07.612-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071125F7A\",\"protocol\":\"lon\",\"typeId\":578,\"createdOnGlp\":true,\"deviceTypeName\":\"6kEvbMultiSensor\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"1\"},\"deviceName\":\"MS-01\"}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"nvilamp\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1290,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d624adb3.cb9198",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "boolean to SNVT_switch",
        "func": "var msg1 = {};\nmsg1.payload = {};\nmsg1.payload.data = {};\nif(msg.payload === true)\n    msg1.payload.data = {'state':1,'value':100};\nelse\n    msg1.payload.data = {'state':0,'value':0};\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1010,
        "y": 1220,
        "wires": [
            [
                "d7a1a381.c98528"
            ]
        ]
    },
    {
        "id": "ac4a7382.3e66b",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "set payload to state (boolean)",
        "func": "var state = context.get('state');\nvar msg1 = {};\nif((state === null) || (state !== msg.payload.data.state)) {\n    state = msg.payload.data.state;\n    context.set(\"state\",state)\n    \n    if(state === 1)\n        msg1.payload = true;\n    else\n        msg1.payload = false;\n    return msg1;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1220,
        "wires": [
            [
                "13d74765.45e209"
            ]
        ]
    },
    {
        "id": "79e9152e.c79104",
        "type": "switch",
        "z": "36ecb6b.7693d4a",
        "name": "Adam and SC100 Switches plus Tstat",
        "property": "token",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "adam/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "adam/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sc100/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sc100/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sc100/3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tstat/bv51",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1210,
        "y": 580,
        "wires": [
            [
                "91c6cb6.900ed38"
            ],
            [
                "87912fde.53f96"
            ],
            [],
            [],
            [],
            [
                "f53d5c36.0981d8"
            ]
        ]
    },
    {
        "id": "54d541c3.b1e7f",
        "type": "ui_switch",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "label": "SC100 DO1",
        "tooltip": "",
        "group": "b80458b.2b67f28",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "bda4f5a9.7cd54"
            ]
        ]
    },
    {
        "id": "381caed8.53f65a",
        "type": "ui_switch",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "label": "SC100 DO2",
        "tooltip": "",
        "group": "b80458b.2b67f28",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 140,
        "wires": [
            [
                "59bc3f2f.65a75"
            ]
        ]
    },
    {
        "id": "8a97c25b.0c7808",
        "type": "ui_switch",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "label": "SC100 DO3",
        "tooltip": "",
        "group": "b80458b.2b67f28",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "8f427e82.f7"
            ]
        ]
    },
    {
        "id": "d8195dbb.150038",
        "type": "ui_slider",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "label": "Tstat Setpoint",
        "tooltip": "",
        "group": "b80458b.2b67f28",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "Setpoint",
        "min": "5",
        "max": "90",
        "step": 1,
        "x": 800,
        "y": 1280,
        "wires": [
            [
                "cf816740.35ab2"
            ]
        ]
    },
    {
        "id": "aac3f4c6.0f1928",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "msg.payload.data to msg.payload",
        "func": "var setpt = context.get('setpt');\nif((setpt === null) || (setpt !== msg.payload.data)) {\n    setpt = msg.payload.data;\n    context.set(\"setpt\",setpt);\n    msg.payload = msg.payload.data\n    return msg;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1280,
        "wires": [
            [
                "d8195dbb.150038"
            ]
        ]
    },
    {
        "id": "cf816740.35ab2",
        "type": "change",
        "z": "36ecb6b.7693d4a",
        "name": "Change to msg.payload.data",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setpt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1280,
        "wires": [
            [
                "8ca2317e.4575b"
            ]
        ]
    },
    {
        "id": "91c6cb6.900ed38",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "Adam DO_0",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":\"DO_0\",\"type\":\"SNVT_count\",\"deviceId\":12,\"deviceName\":\"DIO\",\"blockName\":\"DO\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/modbus/5/DO/0/DO_0\",\"dpQualifier2\":\"SmartServer IoT/modbus/DIO/DO/0/DO_0\",\"datapointName\":\"DO_0\",\"datapointType\":\"SNVT_count\",\"deviceType\":19581,\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.3847,\"longitude\":-121.9847,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":33482,\"floorId\":33484,\"zoneIds\":[33486],\"x\":406,\"y\":479},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-12-22T07:37:59.57-08:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"topic\":\"glp/0/17q4adz/rq/dev/modbus/5/if/DO/0\",\"payload\":{\"DO_0\":{\"value\":0},\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.3847,\"longitude\":-121.9847,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":33482,\"floorId\":33484,\"zoneIds\":[33486],\"x\":406,\"y\":479},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-12-22T07:37:59.57-08:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"deviceName\":\"DIO\",\"context\":{\"id\":5,\"name\":\"Starter Kit / Mariana Building / 2nd Floor / Conference Room\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":2,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"DO_0\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1630,
        "y": 500,
        "wires": []
    },
    {
        "id": "e8d5f4a8.207bb8",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "Tstat Setpt",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": 300,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":null,\"type\":\"scalar\",\"deviceId\":14,\"deviceName\":\"Tstat-101\",\"blockName\":\"device\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/bacnet/6/device/0/AV:39\",\"dpQualifier2\":\"SmartServer IoT/bacnet/Tstat-101/device/0/AV:39\",\"datapointName\":\"AV:39\",\"datapointType\":\"scalar\",\"deviceType\":17481,\"device\":{\"name\":\"Tstat-101\",\"category\":\"EDGE\",\"id\":14,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"firmwareVersion\":\"v0.0.0\",\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T12:40:55-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B-3\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-19T12:40:55.346-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":17481,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C-3\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-19\",\"DID\":\"6\"},\"topic\":\"glp/0/17q4adz/fb/dev/bacnet/6/if/device/0\",\"message\":\"AV:39/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":1,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"av\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 120,
        "y": 1280,
        "wires": [
            [
                "aac3f4c6.0f1928",
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "8ca2317e.4575b",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":null,\"type\":\"scalar\",\"deviceId\":14,\"deviceName\":\"Tstat-101\",\"blockName\":\"device\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/bacnet/6/device/0/AV:39\",\"dpQualifier2\":\"SmartServer IoT/bacnet/Tstat-101/device/0/AV:39\",\"datapointName\":\"AV:39\",\"datapointType\":\"scalar\",\"deviceType\":17481,\"device\":{\"name\":\"Tstat-101\",\"category\":\"EDGE\",\"id\":14,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"firmwareVersion\":\"v0.0.0\",\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T12:40:55-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B-3\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-19T12:40:55.346-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":17481,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C-3\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-19\",\"DID\":\"6\"},\"topic\":\"glp/0/17q4adz/rq/dev/bacnet/6/if/device/0\",\"payload\":{\"AV:39\":{\"value\":0},\"device\":{\"name\":\"Tstat-101\",\"category\":\"EDGE\",\"id\":14,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"firmwareVersion\":\"v0.0.0\",\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T12:40:55-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B-3\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-19T12:40:55.346-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":17481,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C-3\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-19\",\"DID\":\"6\"},\"deviceName\":\"Tstat-101\"}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":1,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"av:39\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1280,
        "y": 1260,
        "wires": []
    },
    {
        "id": "53b5b5a4.c99ac4",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DI1",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoDI_1\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Input\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/2/Digital Input/0/nvoValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Input/0/nvoValue\",\"datapointName\":\"nvoValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:09.893-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/2/if/Digital Input/0\",\"message\":\"nvoValue/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":3,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"nvoDI\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "bfeef9a9.067148",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DI2",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoDI_2\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Input\",\"blockIndex\":1,\"dpQualifier\":\"17q4adz/lon/2/Digital Input/1/nvoValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Input/1/nvoValue\",\"datapointName\":\"nvoValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:09.893-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/2/if/Digital Input/1\",\"message\":\"nvoValue/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":3,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"nvoDI\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "9d6dbf8d.c8f248",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DI3",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nvoDI_3\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Input\",\"blockIndex\":2,\"dpQualifier\":\"17q4adz/lon/2/Digital Input/2/nvoValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Input/2/nvoValue\",\"datapointName\":\"nvoValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T07:47:09.893-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/2/if/Digital Input/2\",\"message\":\"nvoValue/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":3,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"nvoDI\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "9b09357e.a6eae8",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DO1",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nviDO_1\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Output\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/2/Digital Output/0/nviValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Output/0/nviValue\",\"datapointName\":\"nviValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/2/if/Digital Output/0\",\"message\":\"nviValue/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "c8503f67.1a8a08",
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "c8503f67.1a8a08",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "set payload to state (boolean)",
        "func": "var state = context.get('state');\nvar msg1 = {};\nif((state === null) || (state !== msg.payload.data.state)) {\n    state = msg.payload.data.state;\n    context.set(\"state\",state)\n    \n    if(state === 1)\n        msg1.payload = true;\n    else\n        msg1.payload = false;\n    return msg1;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "54d541c3.b1e7f"
            ]
        ]
    },
    {
        "id": "e5856e65.22a628",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "set payload to state (boolean)",
        "func": "var state = context.get('state');\nvar msg1 = {};\nif((state === null) || (state !== msg.payload.data.state)) {\n    state = msg.payload.data.state;\n    context.set(\"state\",state)\n    \n    if(state === 1)\n        msg1.payload = true;\n    else\n        msg1.payload = false;\n    return msg1;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "381caed8.53f65a"
            ]
        ]
    },
    {
        "id": "c50ae990.02ac3",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "set payload to state (boolean)",
        "func": "var state = context.get('state');\nvar msg1 = {};\nif((state === null) || (state !== msg.payload.data.state)) {\n    state = msg.payload.data.state;\n    context.set(\"state\",state)\n    \n    if(state === 1)\n        msg1.payload = true;\n    else\n        msg1.payload = false;\n    return msg1;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "8a97c25b.0c7808"
            ]
        ]
    },
    {
        "id": "a92a2e03.426e18",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DO2",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nviDO_2\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Output\",\"blockIndex\":1,\"dpQualifier\":\"17q4adz/lon/2/Digital Output/1/nviValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Output/1/nviValue\",\"datapointName\":\"nviValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/2/if/Digital Output/1\",\"message\":\"nviValue/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":2,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"nviDO\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "e5856e65.22a628",
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "ad60a3d1.88e378",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DO3",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"nviDO_3\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Output\",\"blockIndex\":2,\"dpQualifier\":\"17q4adz/lon/2/Digital Output/2/nviValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Output/2/nviValue\",\"datapointName\":\"nviValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/fb/dev/lon/2/if/Digital Output/2\",\"message\":\"nviValue/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":2,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"nviDO\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "c50ae990.02ac3",
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "76221594.a72ddc",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DO1",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": false,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":\"nviDO_1\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Output\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/lon/2/Digital Output/0/nviValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Output/0/nviValue\",\"datapointName\":\"nviValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/rq/dev/lon/2/if/Digital Output/0\",\"payload\":{\"nviValue\":{\"value\":0},\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"deviceName\":\"DIO-01\"}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1290,
        "y": 100,
        "wires": []
    },
    {
        "id": "bda4f5a9.7cd54",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "boolean to SNVT_switch",
        "func": "var msg1 = {};\nmsg1.payload = {};\nmsg1.payload.data = {};\nif(msg.payload === true)\n    msg1.payload.data = {'state':1,'value':100};\nelse\n    msg1.payload.data = {'state':0,'value':0};\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "76221594.a72ddc"
            ]
        ]
    },
    {
        "id": "59bc3f2f.65a75",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "boolean to SNVT_switch",
        "func": "var msg1 = {};\nmsg1.payload = {};\nmsg1.payload.data = {};\nif(msg.payload === true)\n    msg1.payload.data = {'state':1,'value':100};\nelse\n    msg1.payload.data = {'state':0,'value':0};\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "be294c5e.5e4c3"
            ]
        ]
    },
    {
        "id": "8f427e82.f7",
        "type": "function",
        "z": "36ecb6b.7693d4a",
        "name": "boolean to SNVT_switch",
        "func": "var msg1 = {};\nmsg1.payload = {};\nmsg1.payload.data = {};\nif(msg.payload === true)\n    msg1.payload.data = {'state':1,'value':100};\nelse\n    msg1.payload.data = {'state':0,'value':0};\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "e2360aab.88a048"
            ]
        ]
    },
    {
        "id": "be294c5e.5e4c3",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DO2",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": false,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":\"nviDO_2\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Output\",\"blockIndex\":1,\"dpQualifier\":\"17q4adz/lon/2/Digital Output/1/nviValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Output/1/nviValue\",\"datapointName\":\"nviValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/rq/dev/lon/2/if/Digital Output/1\",\"payload\":{\"nviValue\":{\"value\":0},\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"deviceName\":\"DIO-01\"}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1290,
        "y": 140,
        "wires": []
    },
    {
        "id": "e2360aab.88a048",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "SC100 DO3",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": false,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":\"nviDO_3\",\"type\":\"SNVT_switch\",\"deviceId\":3,\"deviceName\":\"DIO-01\",\"blockName\":\"Digital Output\",\"blockIndex\":2,\"dpQualifier\":\"17q4adz/lon/2/Digital Output/2/nviValue\",\"dpQualifier2\":\"SmartServer IoT/lon/DIO-01/Digital Output/2/nviValue\",\"datapointName\":\"nviValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":577,\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"topic\":\"glp/0/17q4adz/rq/dev/lon/2/if/Digital Output/2\",\"payload\":{\"nviValue\":{\"value\":0},\"device\":{\"name\":\"DIO-01\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-10-17T11:13:22.185-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"0530v200\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E7\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-11-16T12:16:55.081-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"00D071123647\",\"protocol\":\"lon\",\"typeId\":577,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100-MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-10-17\",\"DID\":\"2\"},\"deviceName\":\"DIO-01\"}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":1,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1290,
        "y": 180,
        "wires": []
    },
    {
        "id": "e1a008ad.ebfdb",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "ADAM DI_0",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":null,\"type\":\"SNVT_count\",\"deviceId\":12,\"deviceName\":\"DIO\",\"blockName\":\"DI\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/modbus/5/DI/0/DI_0\",\"dpQualifier2\":\"SmartServer IoT/modbus/DIO/DI/0/DI_0\",\"datapointName\":\"DI_0\",\"datapointType\":\"SNVT_count\",\"deviceType\":19581,\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-23T06:01:40.344-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"topic\":\"glp/0/17q4adz/fb/dev/modbus/5/if/DI/0\",\"message\":\"DI_0/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":2,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"di\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "2ae6e6b2.8712b2",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "ADAM DI_1",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":null,\"type\":\"SNVT_count\",\"deviceId\":12,\"deviceName\":\"DIO\",\"blockName\":\"DI\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/modbus/5/DI/0/DI_1\",\"dpQualifier2\":\"SmartServer IoT/modbus/DIO/DI/0/DI_1\",\"datapointName\":\"DI_1\",\"datapointType\":\"SNVT_count\",\"deviceType\":19581,\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-23T06:01:40.344-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"topic\":\"glp/0/17q4adz/fb/dev/modbus/5/if/DI/0\",\"message\":\"DI_1/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":2,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "84fd5f47.8c98d",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "ADAM DI_2",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":null,\"type\":\"SNVT_count\",\"deviceId\":12,\"deviceName\":\"DIO\",\"blockName\":\"DI\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/modbus/5/DI/0/DI_2\",\"dpQualifier2\":\"SmartServer IoT/modbus/DIO/DI/0/DI_2\",\"datapointName\":\"DI_2\",\"datapointType\":\"SNVT_count\",\"deviceType\":19581,\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-23T06:01:40.344-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"topic\":\"glp/0/17q4adz/fb/dev/modbus/5/if/DI/0\",\"message\":\"DI_2/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":2,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "a55aecf2.cb3f28",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "ADAM DI_3",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":null,\"type\":\"SNVT_count\",\"deviceId\":12,\"deviceName\":\"DIO\",\"blockName\":\"DI\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/modbus/5/DI/0/DI_3\",\"dpQualifier2\":\"SmartServer IoT/modbus/DIO/DI/0/DI_3\",\"datapointName\":\"DI_3\",\"datapointType\":\"SNVT_count\",\"deviceType\":19581,\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-23T06:01:40.344-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"topic\":\"glp/0/17q4adz/fb/dev/modbus/5/if/DI/0\",\"message\":\"DI_3/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":2,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "a73e30cb.fac9e8",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "ADAM DO_0",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"DO_0\",\"type\":\"SNVT_count\",\"deviceId\":12,\"deviceName\":\"DIO\",\"blockName\":\"DO\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/modbus/5/DO/0/DO_0\",\"dpQualifier2\":\"SmartServer IoT/modbus/DIO/DO/0/DO_0\",\"datapointName\":\"DO_0\",\"datapointType\":\"SNVT_count\",\"deviceType\":19581,\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.3847,\"longitude\":-121.9847,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":33482,\"floorId\":33484,\"zoneIds\":[33486],\"x\":406,\"y\":479},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-12-17T09:14:51.968-08:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"topic\":\"glp/0/17q4adz/fb/dev/modbus/5/if/DO/0\",\"message\":\"DO_0/value\",\"context\":{\"id\":5,\"name\":\"Starter Kit / Mariana Building / 2nd Floor / Conference Room\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"DO_0\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "getDatapointMessage": {},
        "x": 110,
        "y": 840,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "61370ffc.c8351",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "ADAM DO_1",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": false,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"DO_1\",\"type\":\"SNVT_count\",\"deviceId\":12,\"deviceName\":\"DIO\",\"blockName\":\"DO\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/modbus/5/DO/0/DO_1\",\"dpQualifier2\":\"SmartServer IoT/modbus/DIO/DO/0/DO_1\",\"datapointName\":\"DO_1\",\"datapointType\":\"SNVT_count\",\"deviceType\":19581,\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.3847,\"longitude\":-121.9847,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":33482,\"floorId\":33484,\"zoneIds\":[33486],\"x\":406,\"y\":479},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-12-17T09:14:51.968-08:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"topic\":\"glp/0/17q4adz/fb/dev/modbus/5/if/DO/0\",\"message\":\"DO_1/value\",\"context\":{\"id\":5,\"name\":\"Starter Kit / Mariana Building / 2nd Floor / Conference Room\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":0,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"DO_1\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "getDatapointMessage": {},
        "x": 110,
        "y": 900,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "87912fde.53f96",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "Adam DO_2",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":null,\"type\":\"SNVT_count\",\"deviceId\":12,\"deviceName\":\"DIO\",\"blockName\":\"DO\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/modbus/5/DO/0/DO_1\",\"dpQualifier2\":\"SmartServer IoT/modbus/DIO/DO/0/DO_1\",\"datapointName\":\"DO_1\",\"datapointType\":\"SNVT_count\",\"deviceType\":19581,\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-23T06:01:40.344-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"topic\":\"glp/0/17q4adz/rq/dev/modbus/5/if/DO/0\",\"payload\":{\"DO_1\":{\"value\":0},\"device\":{\"name\":\"DIO\",\"category\":\"EDGE\",\"id\":12,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T08:40:04-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"Adam4150\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-23T06:01:40.344-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"01:1\",\"protocol\":\"modbus\",\"typeId\":19581,\"createdOnGlp\":true,\"deviceTypeName\":\"ADAM-4150\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-18\",\"DID\":\"5\"},\"deviceName\":\"DIO\"}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":2,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1630,
        "y": 560,
        "wires": []
    },
    {
        "id": "a4b67d0c.14df78",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "Tstat BI:29",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":null,\"type\":\"boolean\",\"deviceId\":14,\"deviceName\":\"Tstat-101\",\"blockName\":\"device\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/bacnet/6/device/0/BI:29\",\"dpQualifier2\":\"SmartServer IoT/bacnet/Tstat-101/device/0/BI:29\",\"datapointName\":\"BI:29\",\"datapointType\":\"boolean\",\"deviceType\":17481,\"device\":{\"name\":\"Tstat-101\",\"category\":\"EDGE\",\"id\":14,\"latitude\":37.4651,\"longitude\":-122.143,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"groupName\":[],\"firmwareVersion\":\"v0.0.0\",\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T12:40:55-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B-3\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-11-19T12:40:55.346-08:00[America/Los_Angeles]\",\"contexts\":[],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":17481,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C-3\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-19\",\"DID\":\"6\"},\"topic\":\"glp/0/17q4adz/fb/dev/bacnet/6/if/device/0\",\"message\":\"BI:29/value\"}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":1,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "c5dc48ea.879878",
        "type": "comment",
        "z": "36ecb6b.7693d4a",
        "name": "DIO = Adam-4150, DIO-01 = SC100-MP, MS-01 = 6kEvb, Tstat-101 = VT7200",
        "info": "",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "f53d5c36.0981d8",
        "type": "iap-output",
        "z": "36ecb6b.7693d4a",
        "name": "Tstat BV51",
        "reconnect": 5,
        "topic": "glp/+/+/ev/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff279101.3a7968",
        "throttle": 2,
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selectedctx": "[]",
        "selecteddp": "[{\"name\":\"BV:51\",\"type\":\"boolean\",\"deviceId\":14,\"deviceName\":\"Tstat-101\",\"blockName\":\"device\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/bacnet/6/device/0/BV:51\",\"dpQualifier2\":\"SmartServer IoT/bacnet/Tstat-101/device/0/BV:51\",\"datapointName\":\"BV:51\",\"datapointType\":\"boolean\",\"deviceType\":17481,\"device\":{\"name\":\"Tstat-101\",\"category\":\"EDGE\",\"id\":14,\"latitude\":37.46509933,\"longitude\":-122.1429977,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":33482,\"floorId\":33484,\"zoneIds\":[33489],\"x\":100,\"y\":377},\"groupName\":[],\"firmwareVersion\":\"v0.0.0\",\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T12:40:55-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B-3\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-12-16T11:39:02.93-08:00[America/Los_Angeles]\",\"contexts\":[7],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":17481,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C-3\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-19\",\"DID\":\"6\"},\"topic\":\"glp/0/17q4adz/rq/dev/bacnet/6/if/device/0\",\"payload\":{\"BV:51\":{\"value\":0},\"device\":{\"name\":\"Tstat-101\",\"category\":\"EDGE\",\"id\":14,\"latitude\":37.46509933,\"longitude\":-122.1429977,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":33482,\"floorId\":33484,\"zoneIds\":[33489],\"x\":100,\"y\":377},\"groupName\":[],\"firmwareVersion\":\"v0.0.0\",\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T12:40:55-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B-3\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-12-16T11:39:02.93-08:00[America/Los_Angeles]\",\"contexts\":[7],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":17481,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C-3\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-19\",\"DID\":\"6\"},\"deviceName\":\"Tstat-101\",\"context\":{\"id\":7,\"name\":\"Starter Kit / Mariana Building / 2nd Floor / Offices\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}}}]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":3,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 1630,
        "y": 680,
        "wires": []
    },
    {
        "id": "c5521042.1a677",
        "type": "iap-input-sub",
        "z": "36ecb6b.7693d4a",
        "name": "Tstat BV:51",
        "topic": "glp/+/+/ev/data",
        "broker": "ff279101.3a7968",
        "datatype": "auto",
        "polling": "10",
        "fixed": true,
        "resolved": false,
        "sflow": false,
        "selecteddp": "[{\"name\":\"BV:51\",\"type\":\"boolean\",\"deviceId\":14,\"deviceName\":\"Tstat-101\",\"blockName\":\"device\",\"blockIndex\":0,\"dpQualifier\":\"17q4adz/bacnet/6/device/0/BV:51\",\"dpQualifier2\":\"SmartServer IoT/bacnet/Tstat-101/device/0/BV:51\",\"datapointName\":\"BV:51\",\"datapointType\":\"boolean\",\"deviceType\":17481,\"device\":{\"name\":\"Tstat-101\",\"category\":\"EDGE\",\"id\":14,\"latitude\":37.46509933,\"longitude\":-122.1429977,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":33482,\"floorId\":33484,\"zoneIds\":[33489],\"x\":100,\"y\":377},\"groupName\":[],\"firmwareVersion\":\"v0.0.0\",\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-11-19T12:40:55-08:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B-3\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-12-16T11:39:02.93-08:00[America/Los_Angeles]\",\"contexts\":[7],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4adz\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":17481,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C-3\",\"gpsEnabled\":false,\"installationDate\":\"2020-11-19\",\"DID\":\"6\"},\"topic\":\"glp/0/17q4adz/fb/dev/bacnet/6/if/device/0\",\"message\":\"BV:51/value\",\"context\":{\"id\":7,\"name\":\"Starter Kit / Mariana Building / 2nd Floor / Offices\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}}]",
        "selectedctx": "[]",
        "ctxd": "[]",
        "nodeConfig": "{\"PROTOCOL_ELEMENT\":0,\"DATAPOINT_TYPE_ELEMENT\":0,\"DEVICE_ELEMENT\":3,\"DEVICE_TYPE_ELEMENT\":0,\"CONTEXT_ELEMENT\":0,\"CONTEXT_TYPE_ELEMENT\":0,\"BLOCK_NAME_ELEMENT\":0,\"BLOCK_INDEX_ELEMENT\":0,\"DATAPOINT_NAME_ELEMENT\":\"\",\"VIEW_ALL_DP_FLAG\":{\"checked\":true}}",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "9dc25528.808608"
            ]
        ]
    },
    {
        "id": "ae8d1b11.3aa63",
        "type": "change",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 960,
        "wires": [
            [
                "8d7f7058.0307c"
            ]
        ]
    },
    {
        "id": "9c065a88.c573f",
        "type": "change",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1020,
        "wires": [
            [
                "e37f762d.520a78"
            ]
        ]
    },
    {
        "id": "d86b9cd5.abeaa",
        "type": "change",
        "z": "36ecb6b.7693d4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1100,
        "wires": [
            [
                "1ae164c4.10f7bb"
            ]
        ]
    },
    {
        "id": "ff279101.3a7968",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7e13f8c6.7601c8",
        "type": "ui_group",
        "name": "StarterKit 1",
        "tab": "44da6b46.8195cc",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "cb918de2.31638",
        "type": "ui_group",
        "name": "Starterkit 2",
        "tab": "44da6b46.8195cc",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b80458b.2b67f28",
        "type": "ui_group",
        "name": "StarterKit 3",
        "tab": "44da6b46.8195cc",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44da6b46.8195cc",
        "type": "ui_tab",
        "name": "StarterKit",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]