Starter Kit/Node-RED Tutorial/Exercise 3.1.json
[{"id":"dd1b8186.25df1","type":"tab","label":"Exercise 3.1","disabled":true,"info":""},{"id":"6fea27ea.1a0a48","type":"iap-input-sub","z":"dd1b8186.25df1","name":"LON Temp","topic":"glp/+/+/ev/data","broker":"92efa03d.53444","datatype":"auto","polling":300,"fixed":false,"selecteddp":"[{\"name\":\"nvoTempSensor\",\"deviceId\":3,\"deviceName\":\"SC100\",\"blockName\":\"TempSensor\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/2/TempSensor/0/nvoHVACTemp\",\"datapointName\":\"nvoHVACTemp\",\"datapointType\":\"SNVT_temp_p\",\"deviceType\":176,\"topic\":\"glp/0/17q4rrw/fb/dev/lon/2/if/TempSensor/0\",\"message\":\"nvoHVACTemp/value\"}]","selectedctx":"[{\"id\":4,\"name\":\"Alcatraz - Federal Resort / Capone Building / F1 / R1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","ctxd":"[{\"name\":\"SC100\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[190],\"x\":341,\"y\":41},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:42:45.659-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"SC100MP\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-24T16:51:00.15-07:00[America/Los_Angeles]\",\"contexts\":[4],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07113A176\",\"protocol\":\"lon\",\"typeId\":176,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"2\"}]","x":100,"y":220,"wires":[["76a9ccef.2cf7d4"]],"icon":"font-awesome/fa-umbrella"},{"id":"6d6f97d0.20c6a8","type":"iap-input-sub","z":"dd1b8186.25df1","name":"LON Occ","topic":"glp/+/+/ev/data","broker":"92efa03d.53444","datatype":"auto","polling":"10","fixed":false,"selecteddp":"[{\"name\":\"nvoDI_1\",\"deviceId\":3,\"deviceName\":\"SC100\",\"blockName\":\"Digital Input\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/2/Digital Input/0/nvoValue\",\"datapointName\":\"nvoValue\",\"datapointType\":\"SNVT_switch\",\"deviceType\":176,\"topic\":\"glp/0/17q4rrw/fb/dev/lon/2/if/Digital Input/0\",\"message\":\"nvoValue/value\"}]","selectedctx":"[{\"id\":4,\"name\":\"Alcatraz - Federal Resort / Capone Building / F1 / R1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","ctxd":"[{\"name\":\"SC100\",\"category\":\"EDGE\",\"id\":3,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[190],\"x\":341,\"y\":41},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:42:45.659-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"SC100MP\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":119,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-20T15:42:49.603-07:00[America/Los_Angeles]\",\"contexts\":[4],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07113A176\",\"protocol\":\"lon\",\"typeId\":176,\"createdOnGlp\":true,\"deviceTypeName\":\"SC100MP\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"2\"}]","x":100,"y":280,"wires":[["ec11b796.dc8fa8"]],"icon":"font-awesome/fa-smile-o"},{"id":"92462086.c5ff3","type":"iap-output","z":"dd1b8186.25df1","name":"VAV Occ","reconnect":5,"topic":"glp/+/+/ev/data","qos":"2","datatype":"auto","broker":"92efa03d.53444","throttle":300,"fixed":false,"selectedctx":"[{\"id\":4,\"name\":\"Alcatraz - Federal Resort / Capone Building / F1 / R1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","selecteddp":"[{\"name\":\"nviOccSensor\",\"deviceId\":5,\"deviceName\":\"VAV_Sim\",\"blockName\":\"sccVAV\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/3/sccVAV/0/nviOccSensor\",\"datapointName\":\"nviOccSensor\",\"datapointType\":\"SNVT_occupancy\",\"deviceType\":177,\"topic\":\"glp/0/17q4rrw/rq/dev/lon/3/if/sccVAV/0\",\"payload\":{\"nviOccSensor\":{\"value\":0}}}]","ctxd":"[{\"name\":\"VAV_Sim\",\"category\":\"EDGE\",\"id\":5,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[190],\"x\":341,\"y\":41},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:59:35.375-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VAV_sim\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-20T15:59:38.542-07:00[America/Los_Angeles]\",\"contexts\":[4],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07115098E\",\"protocol\":\"lon\",\"typeId\":177,\"createdOnGlp\":true,\"deviceTypeName\":\"VAV_sim\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"3\"}]","x":880,"y":280,"wires":[],"icon":"font-awesome/fa-smile-o"},{"id":"ede9ab6a.7a0748","type":"function","z":"dd1b8186.25df1","name":"Occupancy","func":"// this is loading all most recent values, then updating the new value in one of\n// entries based on the topic which tells us what is the actual device sending it\nvalues = context.get(\"mostRecentValues\");\nvalues.set(msg.topic, msg.payload.data);\n//node.warn(\"value(\"+msg.topic+\")=\"+msg.payload.data);\n    \n// update the node context with latest values\ncontext.set(\"mostRecentValues\",mostRecentValues);\n\nvar occupancy = \"OC_UNOCCUPIED\";\nvalues.forEach(function(value, key) {\n\n    if (value) occupancy = \"OC_OCCUPIED  \";\n    //node.warn(key + ' = ' + value)\n})\n\nmsg.payload.data = occupancy;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload.data});\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nmostRecentValues = new Map();\ncontext.set(\"mostRecentValues\", mostRecentValues);","finalize":"","x":610,"y":280,"wires":[["92462086.c5ff3"]],"outputLabels":["Occupancy"],"icon":"font-awesome/fa-meh-o"},{"id":"ec11b796.dc8fa8","type":"function","z":"dd1b8186.25df1","name":"data -> occupancy","func":"var msg1 = {};\nmsg1.payload = {};\nif (msg.payload.data.value === 0) msg1.payload.data = false;\nelse msg1.payload.data = true;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload.data});\nmsg1.topic = \"Room1\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["ede9ab6a.7a0748"]],"icon":"font-awesome/fa-transgender-alt"},{"id":"76a9ccef.2cf7d4","type":"function","z":"dd1b8186.25df1","name":"data -> celsius","func":"var msg1 = {};\nmsg1.payload = {};\nmsg1.topic = \"Room1\";\nmsg1.payload.data = msg.payload.data;\n//var temp = msg.payload.data.value;\n//msg.payload.data = temp;//(temp -32)*5/9;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload.data});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":220,"wires":[["ca9c5fc9.f48e"]],"icon":"font-awesome/fa-transgender-alt"},{"id":"40fa1180.48a2f","type":"inject","z":"dd1b8186.25df1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"ev/data","payload":"{\"data\":\"HVAC_COOL\"}","payloadType":"json","x":630,"y":180,"wires":[["78885e68.5c75e"]]},{"id":"78885e68.5c75e","type":"iap-output","z":"dd1b8186.25df1","name":"VAV Mode","reconnect":5,"topic":"glp/+/+/ev/data","qos":"2","datatype":"auto","broker":"92efa03d.53444","throttle":300,"fixed":false,"selectedctx":"[{\"id\":5,\"name\":\"Mango HQ / Building 1 / Floor 1 / Office 1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","selecteddp":"[{\"name\":\"nviApplicMode\",\"deviceId\":5,\"deviceName\":\"VAV sim\",\"blockName\":\"sccVAV\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/3/sccVAV/0/nviApplicMode\",\"datapointName\":\"nviApplicMode\",\"datapointType\":\"SNVT_hvac_mode\",\"deviceType\":177,\"topic\":\"glp/0/17q4rrw/rq/dev/lon/3/if/sccVAV/0\",\"payload\":{\"nviApplicMode\":{\"value\":0}}}]","ctxd":"[{\"name\":\"VAV sim\",\"category\":\"EDGE\",\"id\":5,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[191],\"x\":157,\"y\":96},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:59:35.375-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VAV_sim\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-29T15:26:21.648-07:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07115098E\",\"protocol\":\"lon\",\"typeId\":177,\"createdOnGlp\":true,\"deviceTypeName\":\"VAV_sim\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"3\"}]","x":870,"y":180,"wires":[],"icon":"node-red/cog.svg"},{"id":"7e6c7e34.e0ad8","type":"iap-input-sub","z":"dd1b8186.25df1","name":"Bacnet Temp","topic":"glp/+/+/ev/data","broker":"92efa03d.53444","datatype":"auto","polling":"10","fixed":false,"selecteddp":"[{\"name\":null,\"deviceId\":16,\"deviceName\":\"Tstat-01\",\"blockName\":\"device\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/bacnet/8/device/0/AV:7\",\"datapointName\":\"AV:7\",\"datapointType\":\"float\",\"deviceType\":6572,\"topic\":\"glp/0/17q4rrw/fb/dev/bacnet/8/if/device/0\",\"message\":\"AV:7/value\"}]","selectedctx":"[{\"id\":5,\"name\":\"Mango HQ / Building 1 / Floor 1 / Office 1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","ctxd":"[{\"name\":\"Tstat-01\",\"category\":\"EDGE\",\"id\":16,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[191],\"x\":157,\"y\":96},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-31T13:27:16-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-07-31T13:27:18.191-07:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":6572,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-31\",\"DID\":\"8\"}]","x":110,"y":80,"wires":[["433d41b3.c7b1d"]],"icon":"font-awesome/fa-umbrella"},{"id":"e542ee4a.13793","type":"iap-input-sub","z":"dd1b8186.25df1","name":"Bacnet Occ","topic":"glp/+/+/ev/data","broker":"92efa03d.53444","datatype":"auto","polling":"35","fixed":false,"selecteddp":"[{\"name\":null,\"deviceId\":16,\"deviceName\":\"Tstat-01\",\"blockName\":\"device\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/bacnet/8/device/0/BI:29\",\"datapointName\":\"BI:29\",\"datapointType\":\"boolean\",\"deviceType\":6572,\"topic\":\"glp/0/17q4rrw/fb/dev/bacnet/8/if/device/0\",\"message\":\"BI:29/value\"}]","selectedctx":"[{\"id\":5,\"name\":\"Mango HQ / Building 1 / Floor 1 / Office 1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","ctxd":"[{\"name\":\"Tstat-01\",\"category\":\"EDGE\",\"id\":16,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[191],\"x\":157,\"y\":96},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-31T13:27:16-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VT7200f5031B\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"mru\":\"2020-07-31T18:15:29.051-07:00[America/Los_Angeles]\",\"contexts\":[5],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"72008\",\"protocol\":\"bacnet\",\"typeId\":6572,\"createdOnGlp\":true,\"deviceTypeName\":\"VT7200-1H1C\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-31\",\"DID\":\"8\"}]","x":110,"y":140,"wires":[["b9817d48.93b8e"]],"icon":"font-awesome/fa-smile-o"},{"id":"bc05fd7d.4492","type":"iap-output","z":"dd1b8186.25df1","name":"VAV Temp","reconnect":5,"topic":"glp/+/+/ev/data","qos":"2","datatype":"auto","broker":"92efa03d.53444","throttle":300,"fixed":false,"selectedctx":"[{\"id\":4,\"name\":\"Alcatraz - Federal Resort / Capone Building / F1 / R1\",\"description\":null,\"image\":null,\"parentId\":3,\"enabled\":true,\"contextType\":\"ROOM\"}]","selecteddp":"[{\"name\":\"nviSpaceTemp\",\"deviceId\":5,\"deviceName\":\"VAV_Sim\",\"blockName\":\"sccVAV\",\"blockIndex\":0,\"dpQualifier\":\"17q4rrw/lon/3/sccVAV/0/nviSpaceTemp\",\"datapointName\":\"nviSpaceTemp\",\"datapointType\":\"SNVT_temp_p\",\"deviceType\":177,\"topic\":\"glp/0/17q4rrw/rq/dev/lon/3/if/sccVAV/0\",\"payload\":{\"nviSpaceTemp\":{\"value\":0}}}]","ctxd":"[{\"name\":\"VAV_Sim\",\"category\":\"EDGE\",\"id\":5,\"latitude\":37.3479,\"longitude\":-122.0351,\"capabilities\":{\"replacement\":{},\"commissioning\":{\"commissionMethod\":\"MANUAL\"}},\"floorCoordinates\":{\"floorPlanId\":188,\"floorId\":189,\"zoneIds\":[190],\"x\":341,\"y\":41},\"groupName\":[],\"status\":{\"state\":\"provisioned\",\"health\":\"normal\",\"connection\":\"connected\",\"connectionStatusSince\":\"2020-07-20T15:59:35.375-07:00[America/Los_Angeles]\",\"action\":null,\"product\":\"VAV_sim\",\"wasProvisioned\":true,\"createdOnGlp\":true},\"additionalDeviceInfo\":{\"domain\":{\"0\":{\"nodeId\":118,\"subnet\":198,\"domainId\":\"E1\",\"domainLength\":1}},\"BindingConstraints\":\"1\",\"UseExtendedCommandSet\":\"false\"},\"mru\":\"2020-07-20T15:59:38.542-07:00[America/Los_Angeles]\",\"contexts\":[4],\"scName\":\"SmartServer IoT\",\"segmentPK\":1,\"scId\":\"17q4rrw\",\"scState\":\"provisioned\",\"uid\":\"00D07115098E\",\"protocol\":\"lon\",\"typeId\":177,\"createdOnGlp\":true,\"deviceTypeName\":\"VAV_sim\",\"gpsEnabled\":false,\"installationDate\":\"2020-07-20\",\"DID\":\"3\"}]","x":870,"y":80,"wires":[],"icon":"font-awesome/fa-umbrella"},{"id":"ca9c5fc9.f48e","type":"function","z":"dd1b8186.25df1","name":"Avg. Temp.","func":"// this is loading all most recent values, then updating the new value in one of\n// entries based on the topic which tells us what is the actual device sending it\nvalues = context.get(\"mostRecentValues\");\nvalues.set(msg.topic, msg.payload.data);\n// update the node context with latest values\ncontext.set(\"mostRecentValues\",mostRecentValues);\n\n// now iterate through all most revent values and calculate average\nvar sumTemp = 0;\nvar count = 0;\nvalues.forEach(function(value, key) {\n  //node.warn(key + ' = ' + value)\n  sumTemp += value;\n  count++;\n})\nvar avgTemp = sumTemp/count;\n\nmsg.payload.data = Math.floor(avgTemp*10)/10;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload.data});\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nmostRecentValues = new Map();\ncontext.set(\"mostRecentValues\", mostRecentValues);","finalize":"","x":610,"y":80,"wires":[["bc05fd7d.4492"]],"icon":"font-awesome/fa-umbrella"},{"id":"433d41b3.c7b1d","type":"function","z":"dd1b8186.25df1","name":"data -> celsius","func":"var msg1 = {};\nmsg1.payload = {};\nmsg1.topic = \"Room2\";\nvar temp = msg.payload.data;\ntemp = (temp -32)*5/9;\nmsg1.payload.data = Math.floor(temp*10)/10;\nmsg1.payload.topic = msg.topic;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload.data});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[["ca9c5fc9.f48e"]],"icon":"font-awesome/fa-transgender-alt"},{"id":"b9817d48.93b8e","type":"function","z":"dd1b8186.25df1","name":"data -> occupancy","func":"var msg1 = {};\nmsg1.payload = {};\nmsg1.topic = \"Room2\";\nmsg1.payload.data = msg.payload.data;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg1.payload.data});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":140,"wires":[["ede9ab6a.7a0748"]]},{"id":"92efa03d.53444","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]